<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Movie</title>
</head>
<body>

<nav>
    <a th:href="@{/}">Home</a> |
    <a th:href="@{/movies}">Movies</a> |
    <a th:href="@{/add}">Add Movie</a> |
    <a th:href="@{/search}">Search</a>
</nav>
<hr/>

<h1>Confirm Delete</h1>

<p>
    Are you sure you want to delete:
    <b th:text="${movie.title}"></b>
    (ID: <span th:text="${movie.id}"></span>) ?
</p>

<form th:action="@{/movies/delete/{id}(id=${movie.id})}" method="post">
    <button type="submit">Yes, Delete</button>
    <a th:href="@{/movies}">Cancel</a>
</form>

</body>
</html>